# Alignments
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignFunctionDeclarations: false
  AlignFunctionPointers: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: true
  AlignCaseColons: true

AlignConsecutiveTableGenBreakingDAGArgColons: AcrossEmptyLinesAndComments
AlignConsecutiveTableGenCondOperatorColons: AcrossEmptyLinesAndComments
AlignConsecutiveTableGenDefinitionColons: AcrossEmptyLinesAndComments

AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 10
  AlignPPAndNotPP: true

# Allow options
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowBreakBeforeQtProperty: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false

# Always break options
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false

# Macros
AttributeMacros: [__capability, __output, __unused]
ForEachMacros: [RANGES_FOR, FOREACH]
IfMacros: [IF]
WhitespaceSensitiveMacros: ['STRINGIZE', 'PP_STRINGIZE']

# Bin packing
BinPackLongBracedList: true
BinPackParameters: false

# Bit-fields
BitFieldColonSpacing: After

# Braced list width
BracedInitializerIndentWidth: 4

# Line breaks
BreakAdjacentStringLiterals: true

BreakAfterAttributes: Leave
BreakAfterJavaFieldAnnotations: true
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakAfterReturnType: None

BreakArrays: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeConceptDeclarations: Always
BreakBeforeInlineASMColon: Always
BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: true

BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: false
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
BreakTemplateDeclarations: No

# Layout limits
ColumnLimit: 120
CompactNamespaces: false
Cpp11BracedListStyle: Block

# Pointers and qualifiers
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Custom 
QualifierOrder: [inline, static, const, type, volatile]
ReferenceAlignment: Right


# k lines
EmptyLineBeforeAccessModifier: Always
EnumTrailingComma: Remove
KeepFormFeed: false

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

MaxEmptyLinesToKeep: 2
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always

# Includes
IncludeBlocks: Regroup

SortIncludes:
  Enabled: true
  IgnoreCase: true

SortUsingDeclarations: Never

# Indentation
IndentAccessModifiers: true
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExportBlock: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: false
LambdaBodyIndentation: Signature
NamespaceIndentation: All
PPIndentWidth: 4 

# Formatting additions
FixNamespaceComments: true
InsertNewlineAtEOF: true

IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  DecimalMinDigits: 3
  Hex: -1

LineEnding: LF

# Comment reflowing
ReflowComments: Always

# Namespaces and macros
ShortNamespaceLines: 0
SkipMacroDefinitionBody: false

# Spaces
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: true

SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

SpacesInSquareBrackets: false

# Tabs
TabWidth: 4
UseTab: Never